.wrapper
  %ul.nav-list
    %li.download.selected
      %a{href: "#"} Home
    %li.features
      %a{href: "#"} Manage
    %li.method
      %a{href: "#"} Patients
    %li.purchase
      %a{href: "#"} Incomes