.form-patient {
  .modal {
    width: 740px !important;
  }
  .form-horizontal {
    table {
      .control-group {
        width: 100% !important;
      }
      .controls {
        margin-left: 0 !important;
      }
    }
    
  }
}
